# =========================
# Build folders
# =========================
bin/
obj/

# =========================
# User / IDE files
# =========================
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Rider / JetBrains
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# NuGet
# =========================
*.nupkg
packages/
.nuget/

# =========================
# Test results
# =========================
TestResults/

# =========================
# Coverage
# =========================
coverage/
*.coverage
*.coveragexml

# =========================
# Environment files
# =========================
.env
.env.*

# =========================
# Publish output
# =========================
publish/

# =========================
# Temporary files
# =========================
*.tmp
*.temp

# =========================
# Output Folder
# =========================

output/
